:root{
    --blue: #0077FF;
    --white: #fff;
    --black: black;
    --light--text:rgb(89, 89, 89);
    --box-shadow: 0 .5rem 1.5rem rgba(0,0,0.1);
    --border: 2rem solid rgba(0,0,0.1);
    --outline: .1rem solid rgb(177, 175, 175);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 1s linear;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
}



.search-form{
    position: absolute;
    top: 12%;
    right: -110%;
    width: 50rem;
    height: 4rem;
    background: var(--white);
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
}

.search-form.active{
    right: 2rem;
    transition: .4s linear;
}

.search-form input{
    height: 100%;
    width: 100%;
    background: none;
    text-transform: none;
    font-size: 1.6rem;
    color: var(--black);
    padding: 0 1.5rem;
}

.search-form label{
    font-size: 2.2rem;
    padding-right: 1.5rem;
    color: var(--black);
    cursor: pointer;
}

.search-form label:hover{
    color: var(--blue);
}

.heading{
    text-align: center;
    padding: 2rem 0;
    padding-bottom: 3rem;
    font-size: 3.5rem;
    color: var(--black);
}

.heading span{
    background: var(--blue);
    color: var(--white);
    display: inline-block;
    padding: .5rem 3rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}

.btn{
    border: .2rem solid var(--black);
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    color: var(--black);
    cursor: pointer;
    background: none;
    transition: 0.5s linear;
}

.btn:hover{
    background-color: var(--blue);
    color: var(--white);
}

section{
    padding: 2rem 9%;
}

.frigo .box-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 40px;
    align-items: center;


  
}

.frigo .box-container .box{
    padding: 2rem 1rem;
    background: var(--white);
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
    box-shadow: var(--box-shadow);
    margin-right: 30px;
    margin-bottom: 20px;
} 

.frigo .box-container .box:hover{
    box-shadow: 1px 1px 10px 4px var(--blue);
}

.frigo .box-container .box img{
    margin: 1rem 0;
    height: 12rem;
}

.frigo .box-container .box h3{
    font-size: 2.5rem;
    line-height: 1.8;
    color: var(--black);
}

.frigo .box-container .box p{
    font-size: 1.5rem;
    line-height: 1.8;
    color: var(--light--text);
    padding-bottom: 1rem o;
}

@media (max-width:450px){
    .heading{
        font-size: 2.5rem;
    }
}